table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;

    table-layout: auto;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

table th {
    background: #4f46e5;
    color: white;
    padding: 12px 10px;
    text-align: left;
    font-weight: 600;
    white-space: nowrap;
}

table td {
    padding: 12px 10px;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
}

table td,
table th {
    white-space: nowrap;
}

table td:last-child {
    display: flex;
    gap: 6px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

table .btn {
    padding: 6px 10px;
    font-size: 13px;
}

table tr:hover {
    background: #f8f9ff;
}
