{% extends 'gestion_usuarios/base_login.html' %}

{% block titulo %}Login{% endblock %}

{% block texto_izquierda %}
Automatiza tus procesos y mejora tu productividad.
{% endblock %}

{% block contenido %}

<h2>Bienvenido</h2>

{% if messages %}
    {% for message in messages %}
        <div class="alerta">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form method="POST">

    {% csrf_token %}

    {{ form.email }}
    {{ form.password }}

    <button type="submit" class="btn-primary">
        Iniciar sesión
    </button>

</form>

{% endblock %}
